
.file-upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 2px solid #007bff;
  padding: 5px 10px;

  input.uploadFile {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .custom-upload-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1; 
  }

  .upload-icon {
    color: #007bff; 
    font-size: 24px; 
    
  }
}



.flex-container {
  display: flex;
  flex-direction: row;

  .flex-item-left {
    padding: 10px;
    flex: 50%;
    text-align: center;
  }
  
  .flex-item-right {
    padding: 10px;
    flex: 50%;

    label{
      text-align: left;
    }
    span{
      float: right;
    }
  }
}



/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}